
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="jumbotron text-center">
		<h1>Cereal</h1>
		<p>Analysis</p>
	</div>

	<div class="container">
		<h2>C</h2>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Manufacturer</th>
					<th>Name</th>
					<th>Links(View Edit Delete)</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cereal : ${cerealRepository}">
					<td th:text="${cereal.manufacturer}"></td>
					<td th:text="${cereal.name}"></td>
		  				<td><a href="#" th:href="@{cereal/view/} + ${cereal.cereal_id}">View</a> 
						<a href="#" th:href="@{cereal/edit/} + ${cereal.cereal_id}">Edit</a> 
						<a href="#" th:href="@{cereal/delete/} + ${cereal.cereal_id}">Delete</a> </td>
				</tr>
			</tbody>
		</table>
			<a href="/cereal/add/" class="btn btn-seconday btn-lg active" role="button" aria-pressed="true">Add</a>
			</div>
</body>
</html>