<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>
<body>
	<footer th:fragment="footerFragment">

		<div style="text-align: center;">
			<p>A Captain Production</p>
			<p>
				Contact information: <a href="DucksVsMonkeys@gmail.com">
					DucksVsMonkeys@gmail.com</a>.</p>
			<img src="/Pirateshater.jpg"  />
		</div>
	</footer>
</body>
</html>