<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title th:text="${pageTitle}">Page Title</title>
</head>
<body>
<nav th:replace="layouts/nav :: navFragment">
</nav>


	<div class="container">
		<h2>Titanic Passengers</h2>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Survived</th>
					<th>Sex</th>
					<th>Cabin</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="passenger : ${titanicpassengers}">
					<td th:text="${passenger.name}">Thorin</td>
					<td th:text="${passenger.survived}">Thorin</td>
					<td th:text="${passenger.sex}">Thorin</td>
					<td th:text="${passenger.Cabin}">Thorin</td>
	
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="layouts/footer :: footerFragment">
</footer>
</body>

</html>