<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title th:text="${pageTitle}">Page Title</title>
</head>
<body>
<nav th:replace="layouts/nav :: navFragment">
</nav>
	<div>
		<form action="/Search" method="POST">
			<input type="text" placeholder="Search.." name="name"></input>
		</form>
	</div>

	<div class="container">
		<h2>Titanic Passengers</h2>
		<a href="/add/" class="btn btn-seconday btn-lg active" role="button" aria-pressed="true">Add</a>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Survived</th>
					<th>Sex</th>
					<th>Cabin</th>
					<th>Embarked</th>
					<th>Links(View Edit Delete)</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="passenger : ${titanicpassengers}">
					<td th:text="${passenger.name}">Thorin</td>
					<td th:text="${passenger.survived}">Thorin</td>
					<td th:text="${passenger.sex}">Thorin</td>
					<td th:text="${passenger.Cabin}">Thorin</td>
					<td th:text="${passenger.Embarked}">Thorin</td>
			  		<td><a href="#" th:href="@{/view/} + ${passenger.passengerId}">View</a> 
						<a href="#" th:href="@{/edit/} + ${passenger.passengerId}">Edit</a> 
						<a href="#" th:href="@{/delete/} + ${passenger.passengerId}">Delete</a> </td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="layouts/footer :: footerFragment">
</footer>
</body>

</html>