<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
	<body>
		 <div class="jumbotron text-center">
 		 	<h1>Company of Thorin</h1>
 		 	<p>  Tolkien Dwarfs </p> 
		 </div>



<div class="container">
  <div class="row">
    <div  class="col-sm-6"style="text-align:center">
      <h3>Names</h3>
      <p>Sleepy</p>
    </div>
    <div class="col-sm-6" style="text-align:center">
      <h3>Pictures</h3>
      <p><img src=../static/Sleepy.png></p>
    </div>
  </div>
    <div class="row">
    <div  class="col-sm-6"style="text-align:center">
      <h3>Names</h3>
      <p>Sneezy</p>
    </div>
    <div class="col-sm-6" style="text-align:center">
      <h3>Pictures</h3>
      <p><img src=../static/Sneezy.png></p>
    </div>
  </div>
</div>


	</body>
	
</html>